@tailwind base;
@tailwind components;
@tailwind utilities;


/* .............Tags................ */

body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  /* background-color: #3F72AF;
  background: linear-gradient(0.25turn, #3F72AF, #A8D0e6,#112D4E); */
  /* background-color: rgb(118, 118, 219); */
  margin: 0;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

p {
  color: grey;
}

/* ..........sections......... */

#title .container-fluid {
  padding: 0 15% 7%;
}

#footer .container-fluid {
  padding: 3% 15%;
}

.coloured-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
  color: black;
}

/* ..........containers ..........*/

.carousal{
  height:50vh;
  width:100%;
  position: fixed;
  /* top:0; */
  left:0;
}
.carousal > carousel-3d {
  width: 100%;
  height: 50vh;
}

.container-fluid {
  padding: 7% 15%;
}

.col-lg-6 {
  padding: 1rem;
}

/* ..........navigation bar.......... */

.navbar {
  padding: 0 0 0vh;
  margin:-20px;
  padding-left:5vh;
  background-color: #cdcaca;
}
.navbar > img{
  height: 10vh;
  width: 20vh;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

/*.......... headings ..........*/

.big-heading {
  font-weight: 900;
  line-height: 1.5;
  font-size: 3.5rem;
  text-align: left;
  color: rgba(62, 238, 235, 0.816);
}

.section-heading {
  line-height: 1.5;
  font-size: 3rem;
}

/* ..........download buttons.......... */
.download-button {
  margin: 5% 3% 5% 0;
}

/* ..........features ..........*/

#features {
  position: relative;
  background-color: white;
  z-index: 1;
}

.feature-title {
  color: black;
  font-size: 1.5rem;
}

.features-description {
  color: #8f8f8f;
}

.col-lg-4 {
  padding: 5rem;
  margin:auto;
}
.col-lg-4 > img {
  height: 40vh;
}


/* ..........testimonials.......... */

#testimonials {
  padding-bottom: 3%;
  background-color: #ef8172;
}

.testimonial-text {
  line-height: 1.5;
  font-size: 3rem;
}

.testimonial-image {
  border-radius: 100%;
  width: 8rem;
  margin-top: 1%;
  margin-right: 2%;
}

@media (max-width: 766px) {
  .testimonial-image {
    width: 6rem;
  }
  .testimonial-about {
    margin-bottom: 10%;
  }
}

/*.......... press.......... */

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 80%;
  margin: 20px 20px 50px;
}

.press-grid{
  margin: auto 15%;
}

/*.......... pricing.......... */

#pricing {
  color: black;
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* ..........footer.......... */

#footer {
  color: black;
  /* padding: 3%; */
}

.fa-footer {
  padding: 2% 0.5%;
}















body {
font-family: "Montserrat", sans-serif;
text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
font-weight: bold;
}

/* head section */

.coloured-section {
background-color: #dbe2ef;
background-image: url(../image/home.jpg) ;
color: #091a2e;
background-position: top;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}

#title .container-fluid {
padding: 3% 15% 7%;
}

.col-lg-6 {
padding: 1rem;
}

.big-heading {
font-weight: 900;
line-height: 1.5;
font-size: 3.5rem;
text-align: center;
margin: 9rem 10%;
}

/* features section */

.white-section {
background-color: #dbe2ef;
color: black;
}

#features {
position: relative;
background-color: white;
z-index: 1;
}

.features-description {
  color: #8f8f8f;
}

.col-lg-4 {
  padding: 1rem;
}

.feature-title {
  color: black;
  font-size: 1.5rem;
}

/* .fa-3x {
  color: #ef8172;
  font-size: 100%;
  margin-bottom: 1rem;
} */

/* .fa-3x:hover {
  color: #ff4c68;
} */

/* ..........media queries.......... */

@media (max-width: 1060px) {
  .big-heading {
    text-align: center;
}

#title {
  text-align: center;
}

.title-image {
  transform: rotate(0);
  position: static;
  width: 80%;
}
}

@media (max-width: 990px) {
.title-image {
  transform: rotate(0);
  position: static;
  width: 50%;
}
}

.blueee-section{
background-color: #3F72AF;
}
